* {
    font-family: 'Open Sans', sans-serif;
}

#logo {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

.inputData {
    display: block;
    margin: 0 auto;
    width: 600px;
}

#selAll {
    float: left;
    margin: 8px;
}

#text {
    display: block;
    width: 500px;
    margin: 0 auto 20px;
    border-radius: 5px;
    border-color: white;
    font-size: 25px;
}

#text::-webkit-input-placeholder {
    background-color: #eeeeee;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 600px;
}

li {
    box-sizing: border-box;
    width: 600px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #eeeeee;
    color: #000;
    margin: 10px;
    padding: 5px 0;
    cursor: pointer;
    font-size: 25px;
    background-color: rgba(0, 255, 255, 0.2);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

img {
    width: 20px;
    height: 20px;
}

.remove {
    padding: 0;
    margin: 0;
    display: none;
    width: 22px;
    height: 22px;
}

li:hover {
    background-color: rgba(255, 255, 0, 0.2);
}

li:hover .remove {
    display: block;
    float: right;
}

span {
    margin-left: 10px;
}

input:checked + span {
    text-decoration: line-through;
    color: red;
}

#controller {
    display: block;
    width: 600px;
    margin: 0 auto;
    padding-top: 10px;
}

#totalTasks {
    float: left;
    width: 160px;
    height: 20px;
    padding-left: 10px;
}

.buttons {
    float: left;
}

#clear {
    float: right;
    display: none;
}

.clearFix {
    clear: both;
}

.changetext {
    font-size: 25px;
    background-color: #eeeeee;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #555;
    margin: 5px 5px 0 5px;
}

input[type='checkbox']:checked {
    background: cornflowerblue;
}